*{ 
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

.wrap {
	max-width: 70%;
	min-height: 100vh;
	background-color: antiquewhite;
	margin: 0 auto;
	padding: 50px;
}

.header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.userInfo {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.userAvatar {
	width: 300px; 
	height: 300px;
	border-radius: 50%;
	border: 3px solid red;
}

.userItem {
	font-size: 16px;
	padding: 5px;
	 
	height: 200%;
}

.userLine {
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.userEdit {
	width: 30px;
	height: 30px;
}

.userData{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 320px;
}

.posts {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding-right: 90px;
	width: 100%;
}

.feed {
	width: 321px
}

.post {
	margin-top: 10px;
	border: 2px solid #000;
	background-color: rgb(247, 197, 197);
	padding: 20px;
	display: flex;
	flex-direction: column;
}

.post-head{
	display: flex;
	justify-content: space-between;
}

.createPost {
	display: flex;
	width: 320px;
}

.post-input{
	width: 100%;
	height: 70px;
	font-size: large;
	resize: none;
}

.user-name {
	font-size: 20px;
}

.post-text {
	width: 100%;
	max-height: 100px;
}

.post-date{
	color: gray
}